// Button Partials
@import "colors";

/*=======================================================
			Buttons Style
========================================================*/

.btn-primary {
    background: $secondary-color;
    color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 18px;
    padding: 20px 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all .3s ease-in-out;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: $primary-color;
    color: $white;
}

.btn-secondary {
    background: $light-grey;
    color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 18px;
    padding: 20px 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all .3s ease-in-out;
    border: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: $secondary-color;
    color: $white;
}

.btn-send {
    background: $white;
    color: $primary-text;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all .3s ease-in-out;
    border: none;
}

.btn-send:hover,
.btn-send:focus,
.btn-send:active {
    background: $black;
    color: $white;
}