@charset "utf-8";

/*------------------------------------------------------------------

    Main Style Stylesheet
    Project:        legacy. |  Creative One Page Template
    Version:        1.0
    Author:         Gnawi Themes
    Last change:    18/01/2016
    Primary use:    Creative, Agency, personal and freelancer.

-------------------------------------------------------------------*/


/*-- Google Font --*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700);

/*-- Imports (only visible on scss file) --*/

@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/layout";
@import "partials/responsive";
@import "partials/preloader";

/*=======================================================
			Navbar
========================================================*/

.navbar {
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .nav {
        padding: 20px 0;
    }
    .navbar-brand {
        padding: 20px 15px;
    }
    .nav > li > a {
        background: transparent;
        font-weight: $bold;
        transition: all 0.3s ease-in-out;
    }
    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav > li > a:active {
        background: transparent;
        color: $primary-color;
    }
    .navbar-nav > .active > a {
        background: transparent;
        color: $primary-color;
    }
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus,
    .navbar-nav > .active > a:active {
        background: transparent;
    }
}


/*=======================================================
			Header
========================================================*/

header {
    background: url(http://placehold.it/1920x1080/4cd7ff/fff);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .header-content {
        position: absolute;
        top: 35%;
        h6 {
            color: $white;
            margin: 40px 0;
            font-weight: $normal;
        }
        .btn {
            margin: 0 40px 0 0;
        }
    }
}


/*=======================================================
			OWl-Carousel Banner
========================================================*/

#owl-home {
    overflow: hidden;
    .item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .caption {
            position: absolute;
            top: 50%;
            margin-top: -104px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 15;
            h1 {
                margin-bottom: 40px;
            }
            h6 {
                color: $white;
            }
            .btn {
                margin-top: 40px;
                margin-right: 25px;
            }
        }
    }
    .owl-pagination {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        bottom: 5%;
        .owl-page.active span {
            background: $secondary-color;
        }
        .owl-page span {
            border: 2px solid $white;
            border-radius: 50%;
            background: transparent;
            opacity: 1;
            transition: all .3s ease-in-out;
        }
    }
    .owl-buttons {
        div {
            font-size: 24px;
            color: $white;
            opacity: 1;
        }
        .owl-prev {
            left: -85px;
        }
        .owl-next {
            right: -85px;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            background: $secondary-color;
            top: 50%;
            height: 80px;
            width: 80px;
            line-height: 85px;
            border-radius: 0;
            border: 1px solid $secondary-color;
            z-index: 20;
            text-align: center;
            transition: all .3s ease-in-out;
        }
    }
}

#home:hover .owl-prev {
    left: -5px;
}

#home:hover .owl-next {
    right: -5px;
}


/*=======================================================
			Text-rotator
========================================================*/

#text-rotator {
    background: url(http://placehold.it/1920x1080/4cd7ff/000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .banner-caption {
        position: absolute;
        top: 50%;
        margin-top: -104px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 15;
        h1 {
            margin-bottom: 40px;
        }
        h6 {
            color: $white;
        }
        .btn {
            margin-top: 40px;
            margin-right: 25px;
        }
    }
}

.typed-cursor {
    padding: 10px 2px;
    background: #ffffff;
    margin: 10px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*=======================================================
			About -> seg
========================================================*/

#seg {
    padding: $section-padding;
    text-align: center;
    .col-md-4 {
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 40px;
        span {
            font-weight: $bold;
            color: $primary-color;
        }
    }
    .seg-content {
        margin-top: 80px;
        h5 {
            margin: 35px 0;
        }
    }
}


/*=======================================================
			Fun-Facts
========================================================*/

#fun-facts {
    padding: $section-padding;
    background: $primary-color;
    text-align: center;
    h6 {
        font-weight: $bold;
        color: $white;
        margin-top: 35px;
    }
    .timer {
        font-size: 4rem;
        color: $white;
        letter-spacing: 0.1em;
    }
}


/*=======================================================
			Portfolio
========================================================*/

#portfolio {
    padding-top: 120px;
    text-align: center;
    h2 {
        span {
            font-weight: $bold;
            color: $primary-color;
        }
    }
    .col-md-4 {
        padding: 0;
    }
    // Portfolio Filtre
    .portfolio-filtres {
        margin: 80px 0;
        li {
            display: inline-block;
            margin: 20px 25px;
            a {
                background: $primary-color;
                color: $white;
                text-decoration: none;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                padding: 15px 20px;
                font-weight: 700;
                letter-spacing: 0.1em;
                transition: all .3s ease-in-out;
                border-radius: 4px;
                cursor: pointer;
            }
            .active {
                background: $secondary-color;
            }
            a:hover,
            a:focus,
            a:active {
                background: $secondary-color;
            }
        }
    }
    // Portfolio Items
    #Container .mix {
        display: none;
    }
    .portfolio-box {
        display: block;
        position: relative;
        margin: 0 auto;
        .portfolio-box-caption {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: $white;
            opacity: 0;
            background: rgba(76, 215, 255, 0.7);
            transition: all .3s ease-in-out;
            .portfolio-box-caption-content {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                transform: translateY(-50%);
                .project-category {
                    font-size: $h5-size;
                    letter-spacing: 0.1em;
                    margin-bottom: 20px;
                }
                .project-name {
                    font-size: $h6-size;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
    .portfolio-box:hover .portfolio-box-caption {
        opacity: 1;
    }
}


/*=======================================================
			NewsLetter
========================================================*/

#newsletter {
    background: url(http://placehold.it/1920x1080/4cd7ff/fff);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: $section-padding;
    text-align: center;
    h3 {
        font-weight: $normal;
        color: $white;
        span {
            font-weight: $bold;
        }
        margin-bottom: 35px;
    }
    h6 {
        color: $white;
    }
    .form-control::-webkit-input-placeholder {
        color: $white;
    }
    .form-control:-moz-placeholder {
        color: $white;
    }
    .form-control::-moz-placeholder {
        color: $white;
    }
    .form-control:-ms-input-placeholder {
        color: $white;
    }
    .form-inline {
        margin-top: 35px;
    }
    .form-control {
        background: transparent;
        color: $white;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border: 1px solid $white;
        width: 60%;
        height: 50px;
    }
    .btn {
        padding: 12.5px 35px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -2px;
    }
}


/*=======================================================
			Services
========================================================*/

#services {
    padding-top: 120px;
    h2 {
        margin-bottom: 40px;
        span {
            color: $primary-color;
            font-weight: $bold;
        }
    }
    h2,
    p {
        text-align: center;
    }
    // Services
    .services-container {
        margin-top: 80px;
    }
    ul {
        margin-top: 30%;
        padding-left: 40px;
        li {
            margin-top: 40px;
            span {
                font-size: 2.8rem;
                color: $primary-color;
                font-weight: $bold;
            }
            h5 {
                font-weight: $normal;
            }
        }
    }
}


/*=======================================================
			Work Process
========================================================*/

#process {
    background: $primary-color;
    padding: $section-padding;
    text-align: center;
    .col-md-3 {
        margin-bottom: 40px;
    }
    h3 {
        margin-bottom: 80px;
        font-weight: $normal;
        color: $white;
        span {
            font-weight: $bold;
        }
    }
    h6 {
        font-weight: $bold;
        color: $white;
        margin-top: 35px;
    }
}


/*=======================================================
			Team
========================================================*/

#team {
    padding: $section-padding;
    text-align: center;
    .col-md-4 {
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 80px;
        span {
            font-weight: $bold;
            color: $primary-color;
        }
    }
    .team-caption {
        background: $primary-color;
        padding: 40px;
        a {
            font-size: 18px;
            padding-right: 10px;
            color: $white;
            transition: all 0.3s ease-in-out;
        }
        h5 {
            color: $white;
            font-weight: $bold;
        }
        h6 {
            color: $white;
            font-weight: $normal;
            margin: 15px 0;
        }
    }
}


/*=======================================================
			Testimonials
========================================================*/

#testimonials {
    background: url(http://placehold.it/1920x1080/4cd7ff/fff);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: $section-padding;
    text-align: center;
    h3 {
        font-weight: $normal;
        margin-bottom: 80px;
        color: $white;
        span {
            font-weight: $bold;
        }
    }
    p {
        color: $white;
        width: 50%;
        margin: 25px auto;
    }
    h6 {
        color: $white;
    }
    #owl-testimonials {
        .owl-pagination {
            .owl-page.active span {
                background: $white;
            }
            .owl-page span {
                border: 2px solid $white;
                border-radius: 50%;
                background: transparent;
                opacity: 1;
                transition: all .3s ease-in-out;
            }
        }
    }
}


/*=======================================================
			Blog
========================================================*/

#blog {
    padding: $section-padding;
    .col-md-4 {
        margin-bottom: 40px;
    }
    h2 {
        text-align: center;
        margin-bottom: 80px;
        span {
            font-weight: $bold;
            color: $primary-color;
        }
    }
    .blog-caption {
        background: $primary-color;
        max-width: 600px;
        padding: 30px;
        h5 {
            color: $white;
            margin-bottom: 25px;
        }
        .date {
            font-size: 2rem;
            color: $white;
            letter-spacing: 0.1rem;
            font-weight: $light;
            margin: 25px 0;
        }
        p {
            margin: 25px 0;
            color: $white;
        }
        .blog-link {
            color: $white;
            font-size: 2rem;
            letter-spacing: 0.1em;
            font-weight: $bold;
            text-decoration: none;
            margin-top: 25px;
        }
    }
}


/*=======================================================
			Contact
========================================================*/

#contact {
    #map {
        width: 100%;
        height: 600px;
        background: rgba(0, 0, 0, 0.16);
    }
    .col-md-6 {
        padding: 0;
    }
    .contact-forms {
        background: url(http://placehold.it/1920x1080/4cd7ff/fff);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
        text-align: center;
        .contact-content {
            padding: 100px 70px;
            .form-control::-webkit-input-placeholder {
                color: $white;
            }
            .form-control:-moz-placeholder {
                color: $white;
            }
            .form-control::-moz-placeholder {
                color: $white;
            }
            .form-control:-ms-input-placeholder {
                color: $white;
            }
            .form-inline {
                margin-top: 35px;
            }
            .form-control {
                background: transparent;
                color: $white;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                border: 1px solid $white;
                min-height: 45px;
                margin-bottom: 35px;
            }
            textarea {
                height: 140px;
                resize: none;
            }
        }
    }
}


/*=======================================================
			Footer
========================================================*/

footer {
    padding: 60px 0;
    background: $primary-color;
    text-align: center;
    .social-media {
        a {
            font-size: 3rem;
            margin-right: 25px;
            color: $white;
            transition: all 0.3s ease-in-out;
        }
        margin: 40px 0;
    }
    h6 {
        color: $white;
        font-weight: $normal;
    }
}
